@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/utilities";

/*Body styling*/

body {
  background-color: rgb(48, 44, 44);
  background-image: url("../assets/img2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Lato', sans-serif;
}

/*User data navigation link style*/

.nav-link {
  color: gray;
}

.nav-link:hover {
  color: green;
}

/*Navigation menu container and styling*/

.nav_menu {
  border-top-right-radius: 10px;
  margin-top: 50px;
  text-align: center;
  min-width: 700px;
  width: 100vw;
}

.nav_menu a {
  background: rgb(251, 140, 0);
  background: linear-gradient(60deg, rgba(251, 140, 0, 1) 50%, rgba(255, 206, 143, 1) 100%);
  float: left;
  color: white;
  text-align: center;
  padding: 14px 68px;
  text-decoration: none;
  font-size: 17px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.nav_menu a:hover {
  background: #c46d04;
  color: white;
}

/*All forms styling*/

form {
  margin-top: 20px;
  margin-bottom: 40px;
}

/*Searchbox styling*/

input[type=text] {
  padding: 8px 10px;
  margin: 10px auto;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  text-align: center;
}