<div class="header">
    {%if not ingredients%}
    <div style="text-align: center;">
        <p>Oops! Unable to display ingredients at this time</p>
    </div>
    {%else%}
    <div class="content">
        {%for ingredient in ingredients%}
        <div class="recipe">
            <div class="image">
                <img src='{{ingredient["image"]}}' alt="ingredient_image" width="100" height="100">
                <div style="display: flex; flex-flow: row;">
                    <button type="submit" class="add-button like-button" ingredient-id="{{ingredient['id']}}"
                        ingredient-name="{{ingredient['name']}}" ingredient-image="{{ingredient['image']}}"
                        style="margin-right: 5px;">LIKE</button>
                    <button type="submit" class="add-button dislike-button" ingredient-id="{{ingredient['id']}}"
                        ingredient-name="{{ingredient['name']}}"
                        ingredient-image="{{ingredient['image']}}">DISLIKE</button>
                </div>
            </div>
            <div class="description">
                <h2>{{ingredient["name"]}}</h2>
                <p>{{ingredient["summary"]}}</p>
            </div>
        </div>
        {%endfor%}
    </div>
    {%endif%}
</div>