/*Body styling*/

body {
  background-image: url("../static/img3.jpg");
  background-color: rgb(48, 44, 44);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: Arial;
  display: flex;
  flex-flow: row wrap;
}

/*Center container styling for login/or signup*/

.container {
  display: flex;
  align-items: center;
  flex-flow: column;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 550px;
  height: 600px;
  margin: auto;
  position: absolute;
  border-radius: 10px;
  text-align: center;
  overflow: auto;
}

.sub-container {
  background-color: #ffe6d3f1;
  width: 550px;
  height: 600px;
}

/*logo formatting*/

.logo {
  height:300px;
  width:300px;
}

/*Navigation menu container and styling*/

.nav_menu {
  border-top-right-radius: 10px;
  text-align: center;
}

.nav_menu a {
  background: rgb(251,140,0);
  background: linear-gradient(60deg, rgba(251,140,0,1) 50%, rgba(255,206,143,1) 100%);
  float: left;
  color: white;
  text-align: center;
  padding: 14px 68px;
  text-decoration: none;
  font-size: 17px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.nav_menu a:hover {
  background: #c46d04;
  color: white;
}

/*main-container helper to set fixed sidebar*/

.main-container {
  height: 100vh;
  min-width: 320px;
  max-width: 30%;
}

/*Left side container for navigation menu, search and login/Signup*/

.left-container {
  height: 100vh;
  min-width: 320px;
  max-width: 30%;
  top: 8px;
  z-index: 0;
  left: 0;
  position: fixed;
  background-color: #ffe6d3f1;
  text-align: center;
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  align-items: center;
  overflow-x: hidden; /*Disables horizontal scroll*/
}

/*Right side container for search results formatting*/

.right-container {
  background-color: #ffe6d3f1;
  min-width: 350px;
  width: 60%;
  font-weight: bold;
  text-align: center;
  margin-left: 10px;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
  min-height: 100vh;
}

/*Right side container header*/

.header {
  color: rgb(75, 74, 74);
  text-align: center;
  margin: 10px;
}

/*Content div for index.html random recipes and search results*/

.content {
  margin: auto;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
}

/*Individual recipe/ingredient container*/
/* need to hide recipe div when outputing search results */
.recipe {
  background-color: white;
  color: rgb(75, 74, 74);
  font-size: 10px;
  margin: 5px auto;
  padding: 5px;
  border-style: solid;
  border-color: rgb(194, 191, 191);
  border-width: 1px;
  border-radius: 5px;
  display: flex;
  flex-flow: row wrap;
  text-align: left;
  min-width: 340px;
  max-width: 340px;
  height: 130px;
  overflow: auto;
}

/*Inner description div for recipe/ingredient container*/

.description {
  margin-left: 10px;
  margin-right: 10px;
  width: 60%;
  display: flex;
  flex-flow: column;
}

/*Ingredients container*/

.fav-ingredients {
  color: rgb(39, 39, 39);
  background-color: white;
  width: 95%;
  margin: 0 auto;
  border-radius: 4px;
  text-align: left;
}

/*Recipes container*/

.fav-recipes {
  color: rgb(39, 39, 39);
  background-color: white;
  width: 95%;
  margin: 0 auto;
  border-radius: 4px;
  text-align: left;
}

/*All forms styling*/

form {
  margin-bottom: 70px;
  display: flex;
  flex-flow: column;
}

/*Searchbox styling*/

input[type=text] {
  padding: 8px 10px;
  margin: 10px auto;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  text-align: center;
}

/*Searchbox styling*/

input[type=password] {
  padding: 8px 10px;
  margin: 10px auto;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  text-align: center;
}

/*Format input type div - Google button*/

input[type=submit] {
  margin: auto;
}

/*Div containing filter options*/

.filters {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

/*Filter button styling*/

.filter-button {
  margin: 10px;
  padding: 4px 6px;
  background: #FFB659;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.filter-button:hover {
  background: #c46d04;
}

/*Search button styling*/

.search-button {
  padding: 6px 10px;
  width: 100px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 100px;
  margin-right: 100px;
  background: #FB8C00;
  font-size: 17px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}

.search-button:hover {
  background: #c46d04;
}

/*account container styling*/

.account {
  margin-top: 50px;
}

/*padding between login and signup*/

.account a {
  margin: 30px;
}

/*Click styling for hyperlink*/

.account a:link {
  color: rgb(88, 86, 86);
}

.account a:visited {
  color: black;
}

/*Google login button styling*/

.google-img {
  background-image: url("../static/btn_google_signin_light_normal_web.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 30px;
  height: 50px;
  width: 204px;
  cursor: pointer;
}

.google-img:hover {
  background-image: url("../static/btn_google_signin_light_focus_web.png");
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.google-img:visited {
  background-image: url("../static/btn_google_signin_light_pressed_web.png");
}