<!-- <!DOCTYPE html> --->
<html>

<head>
  <title>PieceMeal</title>
  <link rel="stylesheet" type="text/css" href='../static/stylesheets/style.css'>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
</head>

<body>
  <div class="main-container">

    <div class="left-container">

      <img class="logo" src="../static/assets/logo.svg" />

      <div class="user">
        <h2>Hi there {{userdata['given_name']}}!</h2>
        <!--<a href="/account">My Account Settings</a>-->
      </div>
      <form class="recipes" onsubmit="searchRecipes();return false;" method="GET">
        <p>Search for Recipes</p>

        <input type="text" id="recipe-input" placeholder="find potential recipes!" />

        <div class="filters">
          <p>Filter by:</p>
        </div>

        <select id="cuisine" name="cuisine">
          <option value="">Cuisine Type</option>
          <option value="African">African</option>
          <option value="American">American</option>
          <option value="British"> British </option>
          <option value="Cajun"> Cajun </option>
          <option value="Caribbean"> Caribbean </option>
          <option value="Chinese"> Chinese </option>
          <option value="EasternEuropean"> EasternEuropean </option>
          <option value="European"> European </option>
          <option value="French"> French </option>
          <option value="German"> German </option>
          <option value="Greek"> Greek </option>
          <option value="Indian"> Indian </option>
          <option value="Irish"> Irish </option>
          <option value="Italian"> Italian </option>
          <option value="Japanese"> Japanese </option>
          <option value="Jewish"> Jewish </option>
          <option value="Korean"> Korean </option>
          <option value="LatinAmerican"> Latin American </option>
          <option value="Mediterranean"> Mediterranean </option>
          <option value="Mexican"> Mexican </option>
          <option value="MiddleEastern"> Middle Eastern </option>
          <option value="Nordic"> Nordic </option>
          <option value="Southern"> Southern </option>
          <option value="Spanish"> Spanish </option>
          <option value="Thai"> Thai </option>
          <option value="Vietnamese"> Vietnamese </option>
        </select>

        <br>
        <select id="intolerance" name="intolerance">
          <option value="">Intolerance</option>
          <option value="Dairy">Dairy</option>
          <option value="Egg">Egg</option>
          <option value="Gluten">Gluten</option>
          <option value="Grain">Grain</option>
          <option value="Peanut">Peanut</option>
          <option value="Seafood">Seafood</option>
          <option value="Sesame">Sesame</option>
          <option value="Shellfish">Shellfish</option>
          <option value="Soy">Soy</option>
          <option value="Sulfite">Sulfite</option>
          <option value="Tree Nut">Tree Nut</option>
          <option value="Wheat">Wheat</option>
        </select>
        <br>
        <select id="diet" name="diet">
          <option value="">Diet</option>
          <option value="Gluten Free">Gluten Free</option>
          <option value="Ketogenic">Ketogenic</option>
          <option value="Vegetarian">Vegetarian</option>
          <option value="Lacto-Vegetarian">Lacto-Vegetarian</option>
          <option value="Ovo-Vegetarian">Ovo-Vegetarian</option>
          <option value="Vegan">Vegan</option>
          <option value="Pescetarian">Pescetarian</option>
          <option value="Paleo">Paleo</option>
          <option value="Primal">Primal</option>
          <option value="Low FODMAP">Low FODMAP</option>
          <option value="Whole30">Whole30</option>
        </select>
        <br>
        <select id="maxPrepTime">
          <option value=-1>Prep Time</option>
          <option value=15>15 minutes</option>
          <option value=30>30 minutes</option>
          <option value=60>1 hour</option>
          <option value=90>1.5 hours</option>
          <option value=120>2 hours</option>
        </select>

        <button type="submit" id="search-recipe-button" class="search-button">Search</button>
      </form>
      <form class="ingredients" onsubmit="searchIngredients();return false;" method="POST">
        <p>Search for Ingredients</p>
        <input type="text" id="ingredient-input" placeholder="search for ingredients!" />
        <button type="submit" class="search-button">Search</button>
      </form>
    </div>
  </div>

  <button id="secretbutton" style="text-align: center;display: none;">secretbutton:p</button>


  <div class="right-container">
    <div class="nav_menu">
      <a href="/">Home</a>
      <a href="/profile">Profile</a>
      <a href="/logout" class="log-user-out">Logout</a>
    </div>

    <div id="content" class="right-sub-container">
      <div id="search-data"></div>

    </div>

    <div class="right-sub-container" id="changeDiv">
      <!-- If incoming data is from search route, display within right sub-container -->
      {%if search%}
      <div class="header">
        <h1>Search results for "{{keyword}}"</h1>
      </div>

      {%if recipe_search%}

      {%if not recipes%}
      <div style="text-align: center;">
        <p>Oops! Unable to display recipes at this time</p>
      </div>
      {%else%}
      <div id="original-content" class="content">
        {%for recipe in recipes%}
        <div class="recipe">
          <div class="image">
            <img src='{{recipe["image"]}}' alt="recipe_image" width="100" height="100">
            <button type="submit" class="add-button" recipe-id="{{recipe['id']}}" recipe-name="{{recipe['name']}}"
              recipe-image="{{recipe['image']}}" recipe-summary="{{recipe['summary']}}"
              recipe-full-summary="{{recipe['full-summary']}}">ADD</button>
          </div>
          <div class="description">
            <h2>{{recipe["name"]}}</h2>
            <p>{{recipe["summary"]}}</p>
          </div>
        </div>
        {%endfor%}
      </div>
      {%endif%}

      {%else%}

      {%if not ingredients%}
      <div style="text-align: center;">
        <p>Oops! Unable to display ingredients at this time</p>
      </div>
      {%else%}
      <div class="content">
        {%for ingredient in ingredients%}
        <div class="recipe">
          <div class="image">
            <img src='{{ingredient["image"]}}' alt="ingredient_image" width="100" height="100">
            <button type="submit" class="add-button" ingredient-id="{{ingredient['id']}}"
              ingredient-name="{{ingredient['name']}}" ingredient-image="{{ingredient['image']}}">ADD</button>
          </div>
          <div class="description">
            <h2>{{ingredient["name"]}}</h2>
            <p>{{ingredient["summary"]}}</p>
          </div>
        </div>
        {%endfor%}
      </div>
      {%endif%}

      {%endif%}

      <!-- If incoming data is from index2 route, display based on if user has saved items to profile -->
      {%else%}

      <div class="header">
        {%if has_recipes == True%}
        <h1>Our Recipes & Ingredients</h1>
        <p>Checkout these recommended recipes based on your likes</p>
        {%else%}
        <h1>Welcome back to pieceMeal</h1>
        <p>Looks like you don't have any favorite recipes yet. Check out the suggested recipes below!</p>
        {%endif%}
      </div>

      {%if not recipes%}
      <div style="text-align: center;">
        <p>Oops! Unable to display recipes at this time</p>
      </div>
      {%else%}
      <div class="content">
        {%for recipe in recipes%}
        <div class="recipe">
          <div class="image">
            <img src='{{recipe["image"]}}' alt="recipe_image" width="100" height="100">
            <button type="submit" class="add-button" recipe-id="{{recipe['id']}}" recipe-name="{{recipe['name']}}"
              recipe-image="{{recipe['image']}}" recipe-summary="{{recipe['summary']}}"
              recipe-full-summary="{{recipe['full-summary']}}">ADD</button>
          </div>
          <div class="description">
            <h2>{{recipe["name"]}}</h2>
            <p>{{recipe["summary"]}}</p>
          </div>
        </div>
        {%endfor%}
      </div>
      {%endif%}

      {%endif%}
    </div>
  </div>

  {% include "Toast.html" %}

  <script src="../static/modules/index2.js" type="module"></script>
  <script src="../static/modules/logout.js"></script>
  <script>

    function searchRecipes() {
      let input = document.getElementById('recipe-input').value;
      let cuisine = document.getElementById('cuisine').value;
      let intolerance = document.getElementById('intolerance').value;
      let diet = document.getElementById('diet').value;
      let maxPrepTime = parseInt(document.getElementById('maxPrepTime').value, 10);
      console.log(cuisine)
      console.log(intolerance)
      console.log(diet)
      console.log(maxPrepTime)


      fetch('/api/recipe-info/search?' + new URLSearchParams({
        query: input,
        cuisines: [cuisine],
        intolerances: [intolerance],
        diets: [diet],
        max_prep_time: maxPrepTime
      })).then(response => response.json()).then(response => {
        fetch('/search-recipes', {
          method: 'POST', headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify({ recipes: response.recipes, input: input })
        }).then(response => response.text()).then(response => {
          document.getElementById('changeDiv').innerHTML = "";
          document.getElementById('search-data').innerHTML = response;
        })
      });
    }
    function searchIngredients() {

      let ingredientInput = document.getElementById('ingredient-input').value;

      fetch('/api/ingredient-info/search?' + new URLSearchParams({
        query: ingredientInput,
        limit: 12
      })).then(response => response.json()).then(response => {
        console.log(response.error_message)
        fetch('/search-ingredients', {
          method: 'POST', headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify({ ingredients: response.ingredients, input: ingredientInput })
        }).then(response => response.text()).then(response => document.getElementById('search-data').innerHTML = response);

      });
      document.getElementById('secretbutton').click();
    }



  </script>
</body>

</html>