<!DOCTYPE html>
<html>

<head>
  <title>PieceMeal - Log In</title>
  <link rel="stylesheet" type="text/css" href='../static/stylesheets/style.css'>
  <link rel="stylesheet" type="text/css" href='../static/stylesheets/login.css'>
  <script src="../static/modules/forge.min.js"></script>
  <script type="module" src="../static/modules/login.js"></script>
</head>

<body>
  <div class="login-container">
    <div class="nav_menu">
      <a href="/">Home</a>
      <a href="/login">Login</a>
      <a href="/signup">Register</a>
    </div>
    <div class="login-sub-container">
      <img class="logo" src="../static/logo.svg" />
      <div style="margin:auto;">
        <form action="/api/start-login" method="POST">
          <p>Already a member?</p>
          <p>Log in through your google account</p>
          <input type="submit" class="google-img" value="" />
        </form>
        <form onsubmit="return loginDefault()" method="POST">
          <p>or log in here</p>
          <input type="text" id="username" placeholder="Username" />
          <input type="password" id="password" placeholder="Password" />
          <button type="submit" value="Log In" class="account-button">Log In</button>
        </form>
      </div>
    </div>
  </div>
</body>

</html>