<!DOCTYPE html>
<html>

<head>
  <title>PieceMeal - Log In</title>
  <link rel="stylesheet" type="text/css" href='../static/style.css'>
  <link rel="stylesheet" type="text/css" href='../static/login.css'>
  <script src="../static/forge.min.js"></script>
  <script src="../static/EncryptedRequests.js"></script>
  <script src="../static/login.js"></script>
</head>

<body>
  <div class="container">
    <div class="nav_menu">
      <a href="/">Home</a>
      <a href="/login">Login</a>
      <a href="/signup">Signup</a>
    </div>
    <div class="sub-container">
      <img class="logo" src="../static/logo.svg" />
      <form action="/api/start-login" method="POST">
        <p>Already a member?</p>
        <p>Sign in through your google account</p>
        <input type="submit" class="google-img" value="" />
      </form>
    </div>
  </div>
</body>

</html>