<!DOCTYPE html>
<html>

<head>
  <title>PieceMeal - Log In</title>
  <link rel="stylesheet" type="text/css" href='../static/style.css'>
  <link rel="stylesheet" type="text/css" href='../static/login.css'>
</head>

<body>
  <div class="alt-body1">
    <div class="container">
      <img class="logo" src="../static/logo.png" alt="PieceMeal" />
      <div class="G-Login">
        <input id="google-button" type="button" class="google-img" href="/google_auth" />
        <img class="googlelog" />
      </div>

    </div>
  </div>

</body>
<script>
  // Template code to link google button to authorization process
  // $('#google-button').on('click', function () {
  //   // Initialize with your OAuth.io app public key
  //   OAuth.initialize('YOUR_OAUTH_KEY');
  //   // Use popup for OAuth
  //   OAuth.popup('google').then(google => {
  //     console.log(google);
  //     // Retrieves user data from oauth provider
  //     console.log(google.me());
  //   });
  // })
</script>

</html>