<!DOCTYPE html>
<html>

<head>
  <title>PieceMeal - User Profile</title>
  <link rel="stylesheet" type="text/css" href='../static/style.css'>
</head>

<body>

  <div class="left-container">
    <img class="logo" src="../static/logo.png" />

    <form class="ingredients" action="/search_ingredients" method="POST">
      <p>Search for Ingredients</p>
      <input type="text" placeholder="Peanut Butter, Jelly..." />
      <div class="filters">
        <p>Filter by:</p>
        <input type="button" class="filter-button" value="Cuisine" />
        <input type="button" class="filter-button" value="Alergies" />
      </div>
      <button type="submit">Search</button>
    </form>

    <form class="recipes" action="/search_recipes" method="POST">
      <p>Search for Recipes</p>
      <input type="text" placeholder="Filet mignon..." />
      <button type="submit">Search</button>
    </form>

    <div class="account">
      <a href="/logout">Logout</a>
    </div>
  </div>

  <div class="right-container">
    <h1>Welcome, "USERNAME"</h1>

    <div class="fav-ingredients">
      <h2>Favorite Ingredients</h2>
      <p>This section will have blocks containing each item the user has saved</p>

      <div class="recipe">
        <div class="image">
          <img src="../static/temp_ingredient.jpg" style="width: 100px; height: 100px;" />
        </div>
        <div class="description">
          <h2>Butter</h2>
          <p>Small recipe description goes here</p>
        </div>
      </div>

      <div class="recipe">
        <div class="image">
          <img src="../static/temp_ingredient.jpg" style="width: 100px; height: 100px;" />
        </div>
        <div class="description">
          <h2>Chicken Breast</h2>
          <p>Small recipe description goes here</p>
        </div>
      </div>

      <div class="recipe">
        <div class="image">
          <img src="../static/temp_ingredient.jpg" style="width: 100px; height: 100px;" />
        </div>
        <div class="description">
          <h2>Dough</h2>
          <p>Small recipe description goes here</p>
        </div>
      </div>
    </div>

    <div class="fav-recipes">
      <h2>Favorite Recipes</h2>
      <p>This section will have blocks containing each item the user has saved</p>

      <div class="recipe">
        <div class="image">
          <img src="../static/temp_recipe.jpg" style="width: 100px; height: 100px;" />
        </div>
        <div class="description">
          <h2>Sushi</h2>
          <p>Small recipe description goes here</p>
        </div>
      </div>

      <div class="recipe">
        <div class="image">
          <img src="../static/temp_recipe.jpg" style="width: 100px; height: 100px;" />
        </div>
        <div class="description">
          <h2>Fries</h2>
          <p>Small recipe description goes here</p>
        </div>
      </div>

      <div class="recipe">
        <div class="image">
          <img src="../static/temp_recipe.jpg" style="width: 100px; height: 100px;" />
        </div>
        <div class="description">
          <h2>Mimosas</h2>
          <p>Small recipe description goes here</p>
        </div>
      </div>

    </div>

</body>

</html>