<!DOCTYPE html>
<html>

<head>
  <title>PieceMeal - Sign Up</title>
  <link rel="stylesheet" type="text/css" href='../static/stylesheets/style.css'>
  <link rel="stylesheet" type="text/css" href='../static/stylesheets/signup.css'>
  <script src="../static/modules/forge.min.js"></script>
  <script type="module" src="../static/modules/signup.js"></script>
</head>

<body>
  <div class="signup-container">
    <div class="nav_menu">
      <a href="/">Home</a>
      <a href="/login">Login</a>
      <a href="/signup">Register</a>
    </div>
    <div class="signup-sub-container">
      <img class="logo" src="../static/assets/logo.svg" />
      <div style="margin:auto;">
        <p>Create an account via google sign in</p>
        <form id="google-signup-form" method="POST">
          <input type="submit" class="google-img" value="" />
        </form>
        <form id="default-signup-form" method="POST">
          <p>or create an account here</p>
          <input type="text" id="username" placeholder="Username" />
          <input type="email" id="email" placeholder="Email" required minlength="8" />
          <input type="text" id="given_name" placeholder="First Name" />
          <input type="text" id="family_name" placeholder="Last Name" />
          <input type="password" id="password" placeholder="Password" />
          <input type="password" id="confirm_password" placeholder="Confirm Password" />
          <button type="submit" value="Sign Up" class="account-button">Sign Up</button>
        </form>
      </div>
    </div>
  </div>

  {% include "Toast.html" %}
</body>

</html>