<div style="margin-top: 10px; margin-left:40px; text-align: left">

  <form class="account-update" method="POST">
    <p style="margin-bottom: 0">Enter new username:</p>
    <input type="text" id="username" placeholder="Provide new username" style="border: 1px;" />
    <p style="margin-bottom: 0">Enter new email:</p>
    <input type="text" id="email" placeholder="Provide new email" />
    <p style="margin-bottom: 0">Enter new given name:</p>
    <input type="text" id="given name" placeholder="Provide new given name" />
    <p style="margin-bottom: 0">Enter new lastname:</p>
    <input type="text" id="ingredient-input" placeholder="Provide new lastname" />
    <p style="margin-bottom: 0">Upload new picture:</p>
    <input type="text" id="ingredient-input" placeholder="Needs to figure it out" />
    <p style="margin-bottom: 0">Change profile visibility:</p>
    <input type="text" id="ingredient-input" placeholder="Figure it out" />

    <button type="submit" class="update-account"
      style="background-color: coral; color: white; border: none; padding: 3px; border-radius: 5px;">Update</button>

  </form>

</div>